<h1>Login</h1>
<div class="container">
  <div class="card">
    <div class="card-body">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        #emailInput
      />
      <input
        type="text"
        class="form-control"
        placeholder="Password"
        #passwordInput
      />
    </div>
    <button
      class="btn"
      (click)="canLogin(emailInput.value, passwordInput.value)"
    >
      Login
    </button>
  </div>
</div>

<h1>New Account</h1>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          #firstName
          placeholder="First Name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          #lastName
          placeholder="Last Name"
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          #phone
          placeholder="Phone Number"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          #email
          placeholder="Email Address"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          #password
          placeholder="Password"
        />
      </div>
      <div class="form-group">
        <label
          ><input
            type="checkbox"
            name="isEmployee"
            value="true"
            #employee
          />Employee</label
        >
        <label
          ><input
            type="checkbox"
            name="isManager"
            value="true"
            #manager
          />Manager</label
        >
      </div>
      <button
        class="btn"
        (click)="
          addNewAccount(
            firstName.value,
            lastName.value,
            phone.value,
            email.value,
            password.value,
            employee.value,
            manager.value
          )
        "
      >
        Create Account
      </button>
    </div>
  </div>
</div>
