<div class="mainBar">
  <div class="left-align">
    <p>Call us today! <a href="tel: 555-123-4567">(555) 123-4567</a></p>
  </div>

  <div class="right-align">
    <div class="notLoggedIn" *ngIf="isNotLoggedIn">
      <p>You're not<a href="#" (click)="goToLoginEventFunc()">Signed In</a></p>
    </div>

    <div class="user" *ngIf="isCustomer">
      <p>Hi!<a href="#" (click)="goToCartEventFunc()">View Cart</a></p>
    </div>

    <div class="employee" *ngIf="isEmployee">
      <p>Hi, Employee Name!<a href="#" (click)="goToPortal()">Portal</a></p>
    </div>
  </div>
</div>
