<div class="bodyContent">
  <div class="menuHeading">
    <h1>Order up, eat it down, turn that frown upside down!</h1>
    <p>
      Our menu offers delectable treats and sweets to keep you and your family
      happy! Using our online menu, you can order all you can handle...then
      some. Start with our house-made, world famous concrete blizzies, or maybe
      keep it original and try one of our award-winning cones. Whatever you
      decide, you can't be wrong!
    </p>
  </div>


  <div *ngFor = "let item of Menu" class="menuCard">
    <h3>{{item.name}}</h3>
    <h4>Description</h4>
    <p>
      {{item.description}}
    </p>
    <h4>Allergy Info</h4>
    <p>{{item.allergyInfo}}</p>
    <h4>Price:</h4>
    <p>{{item.price}}</p>

    <input
      type="number"
      value="1"
      class="form-control form-control-sm"
      id="cartQty"
    />

    <button class="btn-pink-fill">Add to Cart</button>
  </div>
</div>
