<div class="body">
  <!-- Edit Menu -->
  <div *ngIf="add" class="add-nav">
    <div class="add-item">
      <h3>Choose what you would like to add:</h3>
    </div>
    <div class="nav-items">
      <button type="button" class="btn-white-fill" (click)="toMenu()">
        Menu
      </button>
      <button type="button" class="btn-white-fill" (click)="toEmployee()">
        Employee
      </button>
      <button type="button" class="btn-white-fill" (click)="toPromotion()">
        Promotions
      </button>
      <button type="button" class="btn-pink-fill" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>

  <!-- Add Menu Items Menu -->
  <div *ngIf="menu">
    <form [formGroup]="menuForm" (ngSubmit)="cancel()">
      <div>
        <label for="name">
          First Name:
          <input
            #name
            type="text"
            id="name"
            formControlName="name"
            required
            class="form-control form-control-sm"
          />
        </label>
      </div>
      <div>
        <label>
          Description:
          <input
            #desc
            type="text"
            formControlName="description"
            required
            class="form-control form-control-sm"
          />
        </label>
      </div>
      <div>
        <label>
          Category:
          <input
            #category
            type="text"
            formControlName="category"
            class="form-control form-control-sm"
          />
        </label>
      </div>
      <div>
        <label>
          Price:
          <input
            #priceD
            type="number"
            formControlName="price"
            class="form-control form-control-sm"
          />
        </label>
      </div>
      <div>
        <label>
          Allergen Info:
          <input
            #allergenInfo
            type="text"
            formControlName="allergenInfo"
            class="form-control form-control-sm"
          />
        </label>
      </div>

      <div>
        <button
          *ngIf="!add"
          type="button"
          class="btn btn-success"
          [disabled]="!menuForm.valid"
          (click)="
            ms.editMenuEntry(
              placeID,
              name.value,
              desc.value,
              allergenInfo.value,
              category.value,
              priceD.value
            );
            cancel()
          "
        >
          Edit Item
        </button>
        <button
          *ngIf="add"
          type="button"
          class="btn-white-fill"
          [disabled]="!menuForm.valid"
          (click)="
            ms.addMenuEntry(
              name.value,
              desc.value,
              allergenInfo.value,
              category.value,
              priceD.value
            );
            cancel()
          "
        >
          Add Item
        </button>
        <button type="button" class="btn-pink-fill" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <!-- Add Promotions Menu -->
  <div *ngIf="promotion">
    <form [formGroup]="promoForm" (ngSubmit)="cancel()">
      <div>
        <label for="name">
          First Name:
          <input
            #name
            type="text"
            id="name"
            formControlName="name"
            required
            class="form-control form-control-sm"
          />
        </label>
      </div>
      <div>
        <label>
          Description:
          <input
            #desc
            type="text"
            formControlName="description"
            required
            class="form-control form-control-sm"
          />
        </label>
      </div>
      <div>
        <label>
          Category:
          <input
            #category
            type="text"
            formControlName="category"
            class="form-control form-control-sm"
          />
        </label>
      </div>

      <div>
        <button
          *ngIf="!add"
          type="button"
          class="btn btn-success"
          [disabled]="!promoForm.valid"
          (click)="
            ms.editPromotion(placeID, name.value, desc.value, category.value);
            cancel()
          "
        >
          Edit Item
        </button>
        <button
          *ngIf="add"
          type="button"
          class="btn-white-fill"
          [disabled]="!promoForm.valid"
          (click)="
            ms.addPromotion(name.value, desc.value, category.value); cancel()
          "
        >
          Add Item
        </button>
        <button type="button" class="btn-pink-fill" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
