a{
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-brand {
    font-family: "brevia", sans-serif;
    font-weight: 800;
    font-style: italic;
    color: #B37F95;
}


.footer{
    text-align: center;
    color: white;
    background-color: #5E6D8C;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: small;
    line-height: 0;
}