<div class="hero">
  <img src="../../../assets/images/newHero.jpeg" id="hero-img" />
  <div class="heroText">
    <h2>I Scream!</h2>
    <h2>You Scream!</h2>
    <h2>We All Scream for</h2>
    <h1>Ice Cream</h1>
    <button
      class="btn btn-pink-fill"
      style="margin-right: 10px"
      (click)="goToMenu()"
    >
      Order Now
    </button>
    <a class="btn btn-white-fill" href="https://goo.gl/maps/wcE9c57oPUL6kggy5"
      >Directions</a
    >
  </div>
</div>

<div class="bodyContent">
  <div style="height: 300px"></div>
  <div class="values">
    <h1>Hometown Values</h1>
    <img src="../../../assets/images/storefront.png" height="200px" />
    <p>
      The Ice Cream Shop was founded on simple hometown values. These values
      have remained core to our operations as we have grown. It’s these values
      that have allowed us to remain the number one ice cream provider across
      the greater area for over 25 years.<br />Paired with these values and
      commitment to community we serve, we are confident that we will remain the
      number one ice cream provider for years to come.
    </p>
    <button
      class="btn btn-pink-fill"
      style="margin-right: 10px; margin-bottom: 50px"
      (click)="goToMenu()"
    >
      Order Now
    </button>
  </div>

  <div class="boxes" style="padding-top: 50px">
    <div class="hours">
      <h2>Hours of Operation</h2>
      <p><strong>Monday - Friday</strong><br />10AM - 8:00PM</p>
      <p><strong>Saturday</strong><br />10AM - 10:00PM</p>
      <p><strong>Sunday</strong><br />Closed</p>
    </div>
    <div class="newsletter">
      <h2>Get the Scoop</h2>
      <p>
        Want to stay in the know about The Ice Cream Shop? Subscribe to our
        mailing list to get news and updates about everything ice cream!
      </p>
      <input
        type="text"
        class="form-control form-control-sm"
        placeholder="email@domain.com"
      />
      <button class="btn btn-white-fill" style="margin: 10px">
        Sign Me Up!
      </button>
    </div>
  </div>

  <div class="team" style="margin-top: 50px">
    <h1>Meet the Team</h1>
    <h3>That's Scooping Up Smiles</h3>
    <div class="cards">
      <div class="empCard">
        <img src="../../../assets/images/emp1.png" />
        <h4>Jim Johnson</h4>
        <h5>Owner</h5>
      </div>
      <div class="empCard">
        <img src="../../../assets/images/emp2.png" />
        <h4>Brook Freal</h4>
        <h5>Franchise Operator</h5>
      </div>
      <div class="empCard">
        <img src="../../../assets/images/emp3.png" />
        <h4>Sarah</h4>
        <h5>Cheif Flavor Officer</h5>
      </div>
      <div class="empCard">
        <img src="../../../assets/images/emp4.png" />
        <h4>Lisa Lu</h4>
        <h5>Director of Ice Cream Operations</h5>
      </div>
      <div class="empCard">
        <img src="../../../assets/images/emp5.png" />
        <h4>Jeremy Hanson</h4>
        <h5>Franchise Manager</h5>
      </div>
    </div>
  </div>

  <div class="homeFooter">
    <h3>The Ice Cream Shop</h3>
    <p><em>Scooping up smiles since 1949</em></p>
    <p>(555) 123-4567</p>
    <p>1 Ice Cream Way<br />Fargo, ND 58102</p>
  </div>
</div>
