<div class="hero">
    <!-- <img src="../../assets/images/hero.jpg" width="100%"> -->
    <div class="container container-fluid text-center p-5">
        <p class="title" style="color: #169796;">Welcome to<br>The Ice Cream Shop</p>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, consectetur consequuntur voluptatibus corrupti nemo aspernatur repellat, aliquid officiis quisquam mollitia id minima voluptates eius fugit non ullam vel illo.</p>
    </div>
</div>

<div style="background-color: #169796; color: white;" class="row text-center align-middle py-5 my-5">
    <div class="container col-md-4">
        <p class="title">Item 1</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, repudiandae!</p>
    </div>
    <div class="container col-md-4">
        <p class="title">Item 2</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, repudiandae!</p>
    </div>
    <div class="container col-md-4">
        <p class="title">Item 3</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, repudiandae!</p>
    </div>
</div>
